*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    background-color: white;
    flex-direction: column;
    justify-content: center;
}
.option{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vw;
}
.size{
    height: 27px;
    width: auto;
    cursor: pointer;
    margin-right: 5px;
    text-align: center;
    background-color: rgba(31, 222, 24, 0.647);
    border: solid 2px black;
    color: rgba(0, 76, 255, 0.851);
    border-radius: 5px;
    padding: 2px;
}
.color{
    cursor: pointer;
    margin-right: 5px;
    background-color: rgba(31, 222, 24, 0.647);
    border: solid 2px black;
    color: rgba(0, 76, 255, 0.851);
    border-radius: 5px;
    padding: 2px;

}
.ers{
    height: 27px;
    width: auto;
    cursor: pointer;
    margin-right: 5px;
    background-color: rgba(31, 222, 24, 0.647);
    border: solid 2px black;
    color: rgba(0, 76, 255, 0.851);
    border-radius: 5px;
    padding: 2px;
}
.ers :hover{
    height: 30px;  
    background-color: rgba(11, 11, 239, 0.902);
}

.btn{
    height: 27px;
    width: auto;
    cursor: pointer;
    margin-right: 5px;
    background-color: rgba(31, 222, 24, 0.647);
    border: solid 2px black;
    color: rgba(0, 76, 255, 0.851);
    border-radius: 5px;
    padding: 2px;
}
.paint{
    height: 27px;
    cursor: pointer;
    width: auto;
    margin-right: 5px;
    background-color: rgba(31, 222, 24, 0.647);
    border: solid 2px black;
    color: rgba(0, 76, 255, 0.851);
    border-radius: 5px;
    padding: 2px;
}
.container{
    width: 1000px;
    height: 1000px;
    --size:4;
    background-color:black ;
    display: grid;
    grid-template-columns: repeat(var(--size),1fr);
    grid-template-rows: repeat(var(--size),1fr);
    gap: 3px;
    padding: 3px;
}
.box{
    background-color: #393939;
    border-radius: 5px;
}